export(
	EpiR,
	importar.dados,
	import.data,
	salvar.dados,
	save.data,
	carregar.dados,
	load.data,
	salvar.resultados,
	save.output,
	carregar.resultados,
	load.output,
	remover.todos,
	clear.all,
	remover.dados,
	remove.data,
	esvaziar.lixeira,
	erase.trash,
	restaurar.excluidos,
	restore.deleted,
	listar.dados,
	list.data,
	descarregar,
	unload,
	drop.columns,
	excluir.colunas,
	select.rows,
	selecionar.linhas,
	logit,
	alogit,
	quadrado,
	raiz2,
	inverte,
	media,
	mediana,
	centrar.media,
	variancia,
	transform.data,
	transformar.dados,
	start.odbc,
	iniciar.odbc,
	end.odbc,
	encerrar.odbc,
	query.odbc,
	consultar.odbc,
	brief.summary,
	resumo.breve,
	save.plot,
	salvar.grafico,
	simple.plot,
	grafico.simples,
	dispersion.plot,
	grafico.dispersao,
	histogram.plot,
	grafico.histograma,
	box.plot,
	grafico.caixa,
	normal.plot,
	grafico.normal,
	bar.plot,
	grafico.barras,
	sector.plot,
	grafico.setores,
	stem.leaf,
	ramo.folha,
	curve.smoothing,
	suavizar.curva,
	cross.frequency,
	tabela.contingencia,
	regressao.linear,
	linear.regression,
	desc.vars,
	estatisticas.descritivas,
	frequency.tables,
	tabela.frequencia,
	grafico.mosaico,
	mosaic.plot,
	grafico.pontos,
	dot.plot,
	mean.test,
	teste.media,
	teste.var,
	variance.test,
	teste.associacao,
	association.test,
	razao.chance,
	case.control,
	risco.relativo,
	cohort,
	grafico.controle,
	control.charts,
	format.date,
	formatar.data,
	change.dir,
	alterar.diretorio,
	agregar.linhas,
	row.aggregate,
	categorizar.variavel,
	recodeVar,
	recordFactor,
	regressao.logistica,
	logistic.regression,
	combinar.bancos,
	merge.dataset,
	correlacao,
	correl,
	friedman.htest,
	teste.friedman,
	rank.htest,
	teste.sinais,
	wilcoxon.htest,
	teste.wcoxon
	)

exportPattern("_") # Needed for the Glade interface
#exportPattern("^[^\\.]") # export all for debugging

